@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700&display=swap');

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.summary > li:first-child {
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0,0,0,.07);
}

.book .book-summary ul.summary li.divider {
    height: 0px;
}

 /*------------- Body and header text---------------- */

.book.font-family-1 {
  font-family: 'Muli', sans-serif;
 }
 
 /*------------- Body and header text---------------- */

.book.font-family-1 {
  font-family: 'Muli', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Prata', serif;
  color: #2f5275;
}

.title {
  font-family: 'Prata', serif;
  font-size: 3em !important;
  color: #5699cc;
 }

.subtitle {
  font-family: 'Prata', serif;
  color: #2c6793;
}